html {
  font-family: 'Roboto Slab', serif;
}

.small-card {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;
  }
}

.manipulative {
  cursor: pointer;
}
// injector
// endinjector
