html {
  font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: #ab9ba9; /* standard color */
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
// injector
// endinjector
