.progress-bar {

    display: flex;

    > div {
        height: 5px;
    }

    .value {
        width: 10%;
        background: #38A258;
    }

    .max-value {
        width: 90%;
        background: #4D394B;
    }

}